/* App.css */
/* VerticalNavBar.css */
.vertical-nav {
    background-color: #152a52; /* Background color of the vertical navigation bar */
    width: 200px;
    height: 600px; /* Adjust the width according to your design */
    padding: 20px;
  }
  
  .vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .vertical-nav li {
    margin: 0;
    padding: 0;
  }
  
  .vertical-nav a {
    text-decoration: none;
    color: #fff; /* Text color of the navigation links */
    display: block;
    padding: 10px 10px;
  }
  
  .vertical-nav a:hover {
    background-color: #007bff; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }
  
  .vertical-nav .active {
    background-color: #007bff; /* Background color of the active link */
    color: #fff; /* Text color of the active link */
  }
  